
/*== Politica cookies ==*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2 {
    margin:1rem 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #213140;
    color: white;
}

#cont-cookies {
    background-color: #1E1E1E;
    color: white;
    border-radius: 15pt;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    margin: 3rem auto; 
  }

  p {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    font-size: 1.05rem;
    text-align: justify;
}
  