/* === Login === */
#modulo-login {
    background-color: #213140;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#cont-login {
    width: 100%;
    max-width: 600px;
    text-align: left;
    padding: 2rem;
}

#cont-login h2 {
    text-align: center;
    margin-top: 0;
}

@media (min-width: 1024px) {
    #cont-login {
        background-color: #1E1E1E;
        border-radius: 16px;
        margin:1.5rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    }
}

#form-login {
    text-align: left;
}

#form-login div {
    width: 100%;
    height: 65px;
    position: relative;
    overflow: hidden;
    margin: 1.5rem 0;
}

#form-login div input[type="email"],
#form-login div input[type="password"] {
    width: 100%;
    height: 100%;
    background: none;
    padding: 12px 5px 8px 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    z-index: 2;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#form-login div label.lbl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #c7c7c7;
    pointer-events: none;
    z-index: 1;
}

#form-login div label.lbl:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #E6EB6C;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.texto {
    position: absolute;
    bottom: 10px;
    left: 5px;
    transition: all 0.3s ease;
    font-size: 14pt;
    z-index: 1;
}

#form-login div input:focus + .lbl .texto,
#form-login div input:valid + .lbl .texto {
    transform: translateY(-150%);
    font-size: 16px;
    font-weight: bold;
}

#form-login div input:focus + .lbl:after,
#form-login div input:valid + .lbl:after {
    transform: translateX(0%);
}

#form-login p {
    text-align: center;
}

button {
    margin-top: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;    
}

button .svg-hover {
    display: none;
}

button:hover .svg-default {
    display: none;
}

button:hover .svg-hover {
    display: inline;
}

a {
    color: #E6EB6C;
    text-decoration: none;
}

.error {
    color: red;
}

.mensaje {
    color: blue;
    font-size: 1.25rem;
}


/* === Registrar === */
#modulo-registro {
    background-color: #213140;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

#cont-registro {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 2rem;
}

#form-registro {
    margin-top: 2rem;
    text-align: center;
}

#form-registro div {
    width: 100%;
    height: 65px;
    position: relative;
    overflow: hidden;
    margin: 1.5rem 0;
}

#form-registro div input[type="text"],
#form-registro div input[type="email"],
#form-registro div input[type="password"] {
    width: 100%;
    height: 100%;
    background: none;
    padding: 12px 5px 8px 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    z-index: 2;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#form-registro div label.lbl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #c7c7c7;
    pointer-events: none;
    z-index: 1;
}

#form-registro div label.lbl:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #E6EB6C;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.texto {
    position: absolute;
    bottom: 10px;
    left: 5px;
    transition: all 0.3s ease;
    font-size: 14pt;
    z-index: 1;
}

#form-registro div input:focus + .lbl .texto,
#form-registro div input:valid + .lbl .texto {
    transform: translateY(-150%);
    font-size: 16px;
    font-weight: bold;
}

#form-registro div input:focus + .lbl:after,
#form-registro div input:valid + .lbl:after {
    transform: translateX(0%);
}

.suscripcion {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
}

.suscripcion label {
    margin-right: 1rem;
}

a {
    color: #E6EB6C;
    text-decoration: none;
}

input[type="radio"] {
    accent-color: #E6EB6C;
}

@media (min-width: 1024px) {
    #cont-registro {
        background-color: #1E1E1E;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1E1E1E inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected {
    background-color: #1E1E1E !important;
    color: white !important;
}