* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #213140;
    color: white;
}

main {
    padding: 1rem;
}

h1 {
    margin-bottom: 0.5rem;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: white;
}

#contenedor-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    background-color: #1E1E1E;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    max-width: 1000px;
    width: 90%;
}

#ficha, #sinopsis {
    flex: 1;
    min-width: 300px;
    padding: 1.5rem;
    border-radius: 10px;
}

#ficha h2, #sinopsis h2 {
    font-size: 1.4rem;
}

#ficha p, #sinopsis p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

#cont-video {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#cont-video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#cont-eleccion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
    align-items: center;
}

#cont-eleccion > div {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
}

#cont-eleccion label {
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
}

#cont-eleccion select {
    width: 100%;
    font-size: 15pt;
    background-color: #E6EB6C;
    color: #1E1E1E;
    padding: 0.25rem;
}


.logo-boton {
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.logo-boton .svg-hover {
    display: none;
}

.logo-boton:hover .svg-default {
    display: none;
}

.logo-boton:hover .svg-hover {
    display: inline;
}
