# Habilita mod_rewrite
RewriteEngine On

# Si el archivo o directorio no existe, redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Permitir peticiones OPTIONS para CORS
<LimitExcept OPTIONS>
    Require all granted
</LimitExcept>
